@import "tailwindcss";

* { margin: 1; padding: 1; box-sizing: border-box; }
body { font-family: 'Segoe UI', sans-serif; background: #f9f9f9; }
.container { max-width: 1200px; margin: 0 auto; padding: 0 20px; }
button { cursor: pointer; }
a { text-decoration: none; color: inherit; }

body {
  font-family: 'Inter', sans-serif;
}