@import "tailwindcss";

* {
  
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: #f9f9f9;
}

.page-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
